.actionCon {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.actionLoading {
    float: left;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.actionLoading > div {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    background-color: #377cf2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    animation: lodingCircle1 ease-in-out 1.3s infinite;
    -webkit-animation: lodingCircle1 ease-in-out 1.3s infinite;
    -moz-animation: lodingCircle1 ease-in-out 1.3s infinite;
}

.actionLoading .loding1 {
    animation-delay: -0.4s;
    -webkit-animation-delay: -0.4s;
    -moz-animation-delay: -0.4s;
}

.actionLoading .loding2 {
    animation-delay: -0.3s;
    -webkit-animation-delay: -0.3s;
    -moz-animation-delay: -0.3s;
}

.actionLoading .loding3 {
    margin-right: 0;
    animation-delay: -0.1s;
    -webkit-animation-delay: -0.1s;
    -moz-animation-delay: -0.1s;
}

@keyframes lodingCircle1 {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        opacity: 1;
    }
    10% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
    60%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        opacity: 0;
    }
}

@-webkit-keyframes lodingCircle1 {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        opacity: 1;
    }
    10% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
    60%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        opacity: 0;
    }
}

@keyframes lodingCircle2 {
    0%,
    60%,
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
    }
    10% {
        transform: scale(1, 2.3);
        -webkit-transform: scale(1, 2.3);
        -moz-transform: scale(1, 2.3);
    }
}

@-webkit-keyframes lodingCircle2 {
    0%,
    60%,
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
    }
    10% {
        transform: scale(1, 2.3);
        -webkit-transform: scale(1, 2.3);
        -moz-transform: scale(1, 2.3);
    }
}

.visible {
    display: block;
}
.hidden {
    display: none;
}
