@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    border: 1px solid @so-light-grey;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
    padding: 50px 55px;
    position: relative;

    .btn {
        position: absolute;
        top: 24px;
        left: 24px;

        span {
            color: @secondary-light-grey;
            font-size: 16px;
        }
    }
}

:local(.qr-box) {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid @so-light-grey;
    position: relative;
}
