@import "~Root/styles/colors.less";

:local(.table) {
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-bottom: 0 !important;

    thead th {
        border-bottom: none !important;
        border-top: none;
        padding-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
        color: @light-navy-grey;
        white-space: nowrap;
        padding-left: 0;
    }

    tbody td {
        font-weight: normal;
        white-space: nowrap;
        color: @navy-black;
        font-size: 14px;
        padding: 15px 17px 15px 0;
        background: white;
        border-top: 1px solid @light-grey;
        border-bottom: 1px solid @light-grey;
    }

    tbody tr td:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid @light-grey;
        padding-left: 17px;
    }

    tbody tr td:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid @light-grey;
    }

    tbody tr:first-child td {
        padding-top: 18px;
    }

    tbody td a {
        text-decoration: none !important;
        color: @clear-blue !important;
    }

    tbody td a:hover {
        color: @clear-blue !important;
    }

    .td-light {
        color: @base-grey;
    }

    .td-success {
        color: @green-teal;
    }

    .td-danger {
        color: @cherry;
    }

    .td-warn {
        color: @orange;
    }
}
