@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    border: 1px solid @so-light-grey;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
}

:local(.box) {
    padding: 24px 18px 34px 18px;
}

:local(.btn) {
    width: 100%;
    height: 44px;
    background-color: @clear-blue;
    border: 1px solid @clear-blue;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.1);

    span {
        font-size: 12px;
        margin-right: 4px;
    }
}
