@import "~Root/styles/colors.less";

:local(.container) {
    position: relative;

    span {
        cursor: pointer;
    }
}

:local(.copied) {
    position: absolute;
    opacity: 0;
    top: -20px;
    right: -18px;
    transition: opacity 0.3s;
    background: @dark-navy;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    color: white;
    padding: 4px 7px;
}

:local(.show) {
    opacity: 1;
}
