@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.group) {
    border: solid 1px @light-grey;
    border-radius: 4px;
    height: 35px;

    input {
        border-radius: 2px;
        border: 0;
        background-color: white;
        color: @black;
        font-size: 14px;
        height: 33px;
        padding-right: 0;
        padding-left: 10px;
    }

    input:disabled {
        background-color: white;
    }

    input:active,
    input:focus {
        box-shadow: 0 0 0 0 !important;
    }

    input::placeholder {
        font-size: 14px;
        color: @light-grey-blue;
    }

    .input-group-text {
        background-color: transparent;
        color: @light-grey-blue;
        border: 0;
        height: 35px;
        padding-left: 0;
        padding-right: 12px;
        cursor: pointer;
    }

    .icon {
        color: @light-grey-blue;
        font-size: 14px;
    }

    .input-group-prepend {
        width: 29px;
    }

    .icon-qr-code {
        display: flex;
        align-items: center;
        margin-top: -3px;
        color: @light-grey-blue;
        font-size: 13px;
        cursor: pointer;
    }
}

.input-group-text:focus,
.input-group-text:active,
.input-group-prepend:focus,
.input-group-prepend:active {
    outline: none !important;
    border: none !important;
}

//:local(.group) :focus-within {
//  border: 1px solid @clear-blue;
//  transition: 0.3s ease-in-out;
//}
