@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.title) {
    font-size: 26px;
    color: @black;
    font-weight: normal;
    margin-top: 76px;
    margin-bottom: 32px;

    @media (max-width: @md) {
        margin-top: 45px;
    }
}
