@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.title) {
    font-weight: bold;
    line-height: 1.25;
    color: @black;
    margin-top: 80px;
}

:local(.hr) {
    border-top: 1px solid @light-grey-purple;
}

:local(.description) {
    font-size: 20px;
    line-height: 2;
    color: @black;
    margin-bottom: 200px;
}

:local(.select) {
    .react-select__control {
        background-color: white;
        border: 1px solid @light-grey-purple;
        border-radius: 6px;
        box-shadow: none !important;
        cursor: pointer;
        height: 58px;
    }

    .react-select__control:hover {
        border: 1px solid @light-grey-purple;
    }

    .react-select__indicator-separator {
        display: none;
    }

    .react-select__placeholder {
        font-size: 16px;
    }

    .react-select__single-value {
        color: @black;
        font-size: 20px;
        display: flex;
        align-items: center;

        img {
            margin-right: 12px;
            //   width: 32px;
            // height: 32px;
        }
    }

    .react-select__value-container {
        padding-left: 18px;
    }

    .react-select__indicator {
        padding-right: 19px;
        padding-left: 0;
    }

    .react-select__indicator svg {
        color: @light-grey-blue;
        height: 19px;
        width: 19px;
    }

    .react-select__option input {
        font-size: 16px;
        color: @black;
    }

    .react-select__option {
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            // width: 28px;
            // height: 28px;
            margin-right: 10px;
        }
    }

    .react-select__option:hover,
    .react-select__option--is-focused {
        background-color: transparent;
    }

    .react-select__option--is-selected {
        background-color: @clear-blue !important;
    }

    .react-select__menu {
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }

    .react-select__menu-notice--no-options {
        font-size: 10px;
        color: @black;
    }

    .react-select__placeholder {
        color: @light-grey-blue;
    }

    .react-select__menu {
        box-shadow: 0 0 0 0;
        border: 1px solid @light-grey-purple;
    }
}

:local(.list) {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 6px;
    margin-top: 6px;

    li {
        padding-right: 13px;
        font-size: 14px;
        line-height: 1.43;
        color: @light-grey-blue;
        list-style: none;
        white-space: nowrap;
        cursor: pointer;
    }

    li:before {
        content: "\2022";
        color: @light-grey-blue;
        font-weight: bold;
        display: inline-block;
        width: 6px;
        margin-left: -6px;
        margin-right: 4px;
    }
}

.download-title {
    font-size: 18px;
    line-height: 1.67;
    color: @black;
}

:local(.file) {
    display: inline-flex;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
    color: white;
    width: 134px;
    height: 48px;
    border-radius: 6px;
    background-color: @clear-blue;
    justify-content: center;
    align-items: center;
}

:local(.file):hover {
    color: white;
}

:local(.loading) {
    margin-top: 100px;
    margin-bottom: 230px;
}

:local(.md) {
    width: 100%;
    padding: 20px;
    word-wrap: break-word;
    white-space: normal;
    font-family: Inter;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    margin-bottom: 200px;
    p {
        font-size: 17px;
        line-height: 2;
        color: @black;
    }
    h1 {
        margin: 51px 0 14px 0;
        font-size: 24px;
        font-weight: bold;
        color: @black;
    }
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 18px;
    }
    section {
        width: 100%;
    }
}
