@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.box) {
    padding: 0 68px !important;
}

:local(.back) {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

:local(.title) {
    margin-top: 80px;
    font-size: 44px;
    color: white;
    font-weight: normal;
    margin-bottom: 0;

    span {
        font-weight: bold;
    }
}

:local(.text) {
    font-size: 16px;
    line-height: 1.5;
    color: @white-blue;
    margin-bottom: 0;
    margin-top: 25px;
    padding-right: 100px;
}
