@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.box) {
    padding: 0 68px !important;
}

:local(.back) {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

:local(.title) {
    margin-top: 80px;
    font-size: 44px;
    color: white;
    font-weight: normal;
    margin-bottom: 0;

    span {
        font-weight: bold;
    }
}

:local(.text) {
    font-size: 16px;
    line-height: 1.5;
    color: @white-blue;
    margin-bottom: 0;
    margin-top: 25px;
    padding-right: 100px;
}

:local(.app) {
    display: none !important;
    margin-top: 36px;
    display: inline-flex;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    color: @clear-blue;
    width: 120px;
    height: 45px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

:local(.app):hover {
    color: @clear-blue;
}

:local(.shot1) {
    width: 353px;
    height: 480px;
    display: block;
    margin-left: auto;
    margin-right: 36px;
}

:local(.shot21) {
    position: absolute;
    bottom: 0;
    right: 248px;
    width: 278px;
    height: 300px;
}

:local(.shot22) {
    position: absolute;
    bottom: 0;
    right: 8px;
    width: 343px;
    height: 201px;
}

@media (max-width: 1100px) {
    :local(.shot1) {
        width: 318px;
        height: 403px;
    }

    :local(.shot21) {
        width: 218px;
        height: auto;
        right: 200px;
    }

    :local(.shot22) {
        width: 279px;
        height: auto;
    }

    :local(.box) {
        padding: 0 50px !important;
    }
}

@media (max-width: @lg) {
    :local(.shot1) {
        margin-right: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    :local(.shot21) {
        right: auto;
    }

    :local(.shot22) {
        right: auto;
        left: 180px;
    }

    :local(.title) {
        margin-top: 30px;
        font-size: 35px;
    }

    :local(.text) {
        padding-right: 0;
    }

    :local(.app) {
        margin-bottom: 10px;
    }

    :local(.back) {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

@media (max-width: @sm) {
    :local(.box) {
        padding: 0 15px !important;
    }
}
