@import "~bootstrap/dist/css/bootstrap.css";
@import "./fonts";
@import "./colors";
@import "./vars";

html,
body {
    font-family: "Inter", sans-serif;
}

html,
body,
#root {
    height: 100%;
}

.base-box {
    padding: 56px 136px 40px;
}

.footer-box {
    padding-right: 136px;
    padding-left: 136px;
}

@media (max-width: 1300px) {
    .base-box,
    .footer-box {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width: @xl) {
    .base-box,
    .footer-box {
        padding-right: 70px;
        padding-left: 70px;
    }
}

@media (max-width: @lg) {
    .base-box,
    .footer-box {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: @sm) {
    .base-box,
    .footer-box {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.layout-box {
    padding: 0 68px !important;
    min-height: 100%;

    @media (max-width: 1100px) {
        padding: 0 50px !important;
    }

    @media (max-width: @sm) {
        padding: 0 15px !important;
    }
}

.base-card {
    border: 1px solid @light-grey-purple;
    border-radius: 8px;
}

.btn:focus {
    box-shadow: none;
}

.form-input {
    border-radius: 4px;
    border: 1px solid @light-grey;
    height: 50px;
    color: @black;
    font-size: 18px;
    line-height: 1.33;
    padding-right: 16px;
}

.form-input:focus,
.form-input:active {
    border: 1px solid @clear-blue;
    transition: 0.3s ease-in-out;
}

.form-input:focus {
    box-shadow: none !important;
}

.form-input::placeholder {
    color: @light-grey-blue;
    font-size: 18px;
}

.primary-btn {
    background-color: @clear-blue;
    border: 1px solid @clear-blue;
    border-radius: 4px;
    color: white;
}

.primary-btn:focus {
    border: 1px solid @clear-blue;
}

.base-card {
    border: 1px solid @light-grey;
    border-radius: 6px;
}

.table-scroll {
    overflow-x: scroll;
}

.table-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.table-scroll::-webkit-scrollbar {
    height: 7px;
    background-color: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: @clear-blue;
    cursor: pointer;
}

.popover-inner {
    padding: 5px 10px;
}

.input-label {
    font-size: 14px;
    font-weight: 500;
    color: @black;
}

.center-hor-ver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-ver {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.note {
    font-size: 12px;
    padding: 13px 11px 5px 11px;
    background-color: @so-light-blue;
    border-radius: 8px;
    color: @black;
}

#page-wrap {
    overflow: auto;
}

button:focus {
    outline: none !important;
}

// Pagination
.primary-pagination {
    border: 1px solid @dirty-light-grey;
    border-radius: 5px !important;
    width: fit-content;

    li {
        height: 32px !important;
        width: 32px;
        text-align: center;
        line-height: 32px;
        margin-top: 3px;
        margin-bottom: 3px;
        border: none;
        margin-right: 4px;
    }

    li.rc-pagination-prev,
    li.rc-pagination-next {
        margin-top: 0;
        margin-bottom: 0;
        height: 38px !important;
        width: 39px;
        background-color: @ice-blue;
        border-radius: 0;
        color: @clear-blue;
        font-size: 10px;
        padding-top: 5px;
    }

    li.rc-pagination-prev:hover,
    li.rc-pagination-next:hover {
        color: @clear-blue !important;
    }

    li.rc-pagination-prev {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-right: 4px;
    }

    li.rc-pagination-next {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: 4px;
        margin-right: 0;
    }

    li.rc-pagination-prev[aria-disabled="true"],
    li.rc-pagination-next[aria-disabled="true"] {
        background-color: white !important;

        span {
            color: @light-grey-blue !important;
        }
    }

    li.rc-pagination-prev[aria-disabled="true"] {
        border-right: 1px solid @dirty-light-grey;
    }

    li.rc-pagination-next[aria-disabled="true"] {
        border-left: 1px solid @dirty-light-grey;
    }

    li:focus {
        outline: none;
    }

    li a {
        padding: 0 !important;
        font-size: 15px;
        color: @steel;
    }

    li a:hover {
        background-color: transparent !important;
        color: @clear-blue !important;
    }

    li:hover a {
        color: @clear-blue;
    }

    li:hover,
    li:visited {
        color: @clear-blue !important;
    }

    li.rc-pagination-item-active {
        background-color: @clear-blue;
        border: 1px solid @clear-blue;
    }

    li.rc-pagination-item-active a,
    li.rc-pagination-item-active a:hover {
        color: white !important;
    }

    .rc-pagination-jump-next:hover:after,
    .rc-pagination-jump-prev:hover:after {
        color: @clear-blue;
    }

    .rc-pagination-jump-next,
    .rc-pagination-jump-prev {
        button {
            display: none;
        }
    }

    .rc-pagination-options {
        float: none;
        margin: 0;
    }
}

.error-message {
    margin-right: auto;
    margin-left: auto;
    margin-top: 130px;
    text-align: center;
    font-size: 20px;
    color: black;
}

.error {
    font-size: 12px;
    color: @cherry;
    float: left;
    margin-top: 2px;
}

.form-input-error,
.form-input-error:focus,
.form-input-error:active {
    border: 1px solid @cherry !important;
}

.tooltip-inner {
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    font-size: 12px;
    opacity: 1;
    padding: 10px;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: white !important;
}
