@clear-blue: #377cf2;
@secondary-clear-blue: #2f7aff;
@black: #2f2f2f;
@secondary-black: #1d1d1d;
@navy-black: #2f3544;
@light-navy-grey: #858fa7;
@salmon: #ffe8bc;
@light-grey-blue: #a5afc3;
@pale-grey-blue: #fafbfd;
@green-teal: #0fc26d;
@steel: #7a8697;
@base-grey: #a8a8a8;
@dark-grey: #767a80;
@so-light-blue-grey: #f9fafd;
@so-light-blue: #f0f5ff;
@white-blue: #d5deef;
@cherry: #c93737;
@light-grey-purple: #dee5f3;
@light-grey: #e7e9ec;
@dirty-light-grey: #eaedf0;
@orange: #ba8800;
@so-light-grey: #f4f4f4;
@secondary-light-grey: #d8d8d8;
@dark-blue-grey: #e8ebf1;
@ice-blue: #ebf2ff;
