/* inter-100 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/Inter/inter-v2-latin-100.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-100.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-100.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-100.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-100.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-100.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-200 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/Inter/inter-v2-latin-200.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-200.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-200.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-200.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-200.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-200.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/Inter/inter-v2-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-300.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-300.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-300.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-300.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Inter/inter-v2-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-500.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-500.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-500.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Inter/inter-v2-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-regular.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/Inter/inter-v2-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-600.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-600.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-600.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-600.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-600.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Inter/inter-v2-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-700.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-700.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/Inter/inter-v2-latin-800.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-800.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-800.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-800.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-800.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-800.svg#Inter")
            format("svg"); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/Inter/inter-v2-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/Inter/inter-v2-latin-900.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/fonts/Inter/inter-v2-latin-900.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-900.woff")
            format("woff"),
        /* Modern Browsers */ url("../assets/fonts/Inter/inter-v2-latin-900.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../assets/fonts/Inter/inter-v2-latin-900.svg#Inter")
            format("svg"); /* Legacy iOS */
}

//icomoon
@font-face {
    font-family: "icomoon";
    src: url("../assets/fonts/Icomoon/icomoon.eot?lktwb9");
    src: url("../assets/fonts/Icomoon/icomoon.eot?lktwb9#iefix") format("embedded-opentype"),
        url("../assets/fonts/Icomoon/icomoon.ttf?lktwb9") format("truetype"),
        url("../assets/fonts/Icomoon/icomoon.woff?lktwb9") format("woff"),
        url("../assets/fonts/Icomoon/icomoon.svg?lktwb9#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
    content: "\e916";
}
.icon-hand-money:before {
    content: "\e914";
}
.icon-blockchain:before {
    content: "\e915";
}
.icon-arrow-left:before {
    content: "\e913";
}
.icon-clock:before {
    content: "\e911";
}
.icon-exclamation-triangle:before {
    content: "\e912";
}
.icon-multiply:before {
    content: "\e90f";
}
.icon-open-menu:before {
    content: "\e910";
}
.icon-becoam-logo:before {
    content: "\e900";
}
.icon-card-payment:before {
    content: "\e901";
}
.icon-check:before {
    content: "\e902";
}
.icon-check-circle:before {
    content: "\e903";
}
.icon-credit-card:before {
    content: "\e904";
}
.icon-donate:before {
    content: "\e905";
}
.icon-import:before {
    content: "\e906";
}
.icon-ledger:before {
    content: "\e907";
}
.icon-power:before {
    content: "\e908";
}
.icon-qr-code:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-vector:before {
    content: "\e90b";
}
.icon-alt-copy:before {
    content: "\e90c";
}
.icon-angle-down:before {
    content: "\e90d";
}
.icon-angle-right:before {
    content: "\e90e";
}
