@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    border: 1px solid @so-light-grey;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
    padding: 50px 18px 33px 18px;
    text-align: center;
}

:local(.title) {
    font-size: 16px;
    font-weight: bold;
    color: @clear-blue;
    margin-bottom: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .actionLoading > div {
        width: 6px;
        height: 6px;
        margin-right: 6px;
    }

    .actionLoading > div:first-child {
        margin-left: 6px;
    }
}

:local(.list) {
    margin-top: 20px;

    .row {
        padding-bottom: 10px;
    }

    .col-auto {
        font-size: 14px;
    }

    .icon {
        color: @clear-blue;
    }
}
