@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.main) {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background: @pale-grey-blue;
    flex-direction: column;
    padding: 0 50px;
}

:local(.title) {
    font-size: 70px;
    color: @clear-blue;
    font-weight: bold;
}

:local(.message) {
    font-size: 25px;
    color: @black;
}

:local(.text) {
    font-size: 20px;
    color: @dark-grey;
    margin-bottom: 0;
}

:local(.btn) {
    height: 50px;
    width: 150px;
    margin-top: 30px;
}
