@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.main) {
    background-color: @pale-grey-blue;
    min-height: 100%;
}

:local(.box) {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
}

:local(.card) {
    background-color: white;
    padding: 8px 18px;
    border: 1px solid @so-light-grey;
    border-radius: 8px;

    .row {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .col-auto:first-child {
        font-size: 12px;
    }

    .col-auto:last-child {
        font-size: 13px;
    }

    .icon {
        color: @black;
    }
}

:local(.link) {
    font-size: 12px;
    font-weight: 500;
    color: @steel;
    text-align: center;

    a {
        text-decoration: none;
    }

    span {
        color: @clear-blue;
    }
}
