@import "~Root/styles/colors";
@import "~Root/styles/vars";

.bm-menu {
    overflow: hidden !important;
}

.bm-item-list {
    margin-top: 15px;
}

.plugins {
    margin-left: 0px !important;
}

.bm-item {
    display: inline-block;
    margin-bottom: 20px;
    transition: color 0.2s;
    color: @black;
    font-size: 16px;
    text-decoration: none !important;
}

.bm-item:focus {
    outline: none;
}

.bm-item:hover {
    color: @black;
}

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    margin-top: 68px;
    display: none;

    @media (max-width: @md) {
        display: block;
        right: 116px;
    }
    @media (max-width: @sm) {
        right: 34px;
    }
}

.bm-burger-bars {
    height: 16% !important;
}

.bm-burger-button button:focus {
    outline: none !important;
    border: none !important;
}

.light-bars .bm-burger-bars,
.light-bars .bm-burger-bars:hover {
    background: white;
    opacity: 1 !important;
}

.dark-bars .bm-burger-bars {
    background: @black;
    opacity: 1 !important;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: @black;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

:local(.disabled) {
    cursor: not-allowed;
    color: @steel!important;
}

:local(.disabled):hover {
    color: @steel!important;
}
