@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.subject) {
    font-size: 16px;
    color: @steel;
}

:local(.value) {
    font-size: 16px;
    color: @black;
    font-weight: 500;
    word-break: break-all;

    a {
        text-decoration: none !important;
        color: @clear-blue;
    }

    a:hover {
        color: @clear-blue;
    }
}

:local(.hr) {
    margin: 0;
    border-top: 1px solid @light-grey;
}

:local(.box) {
    padding-top: 15px;
    padding-bottom: 16px;
}

:local(.green) {
    color: @green-teal;
}

:local(.orange) {
    color: @orange;
}

:local(.red) {
    color: @cherry;
}
