@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.title) {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.42;
    color: @black;
    text-align: center;
    margin-top: 94px;

    @media (max-width: @md) {
        font-size: 22px;
        margin-top: 50px;
    }
}

:local(.form) {
    input {
        margin-right: 30px;

        @media (max-width: @sm) {
            margin-right: 15px;
        }
    }
}

:local(.btn) {
    height: 49px;
    width: 150px;

    @media (max-width: @sm) {
        width: 130px;
    }
}

:local(.card) {
    padding: 11px 69px;
    background-color: white;
    margin-top: 30px;

    @media (max-width: @md) {
        padding: 11px 20px;
    }
}
