@import "~Root/styles/colors";

:local(.hr) {
    border-top: 1px solid @light-grey-purple;
    margin-top: 0;
    margin-bottom: 0;
}

:local(.box) {
    padding-top: 20px;
    padding-bottom: 23px;
    height: 100%;
    align-items: center;
    display: flex;

    .col-auto:first-child {
        font-size: 16px;
        color: @light-grey-blue;
    }

    .col-auto:last-child {
        padding-top: 6px;
    }

    .col-auto:last-child span {
        font-size: 20px;
        color: @light-grey-blue;
        margin-top: 1px;
    }

    a {
        text-decoration: none !important;
    }
}
