@import "~Root/styles/colors";

:local(.timer) {
    font-size: 12px;
    color: @black;
    font-weight: 500;
}

:local(.circle) {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-top: -14px;
}
