@import "~Root/styles/vars";
@import "~Root/styles/colors";

:local(.clipboard) {
    width: 20px;
    margin-top: -3px;

    .icon {
        cursor: pointer;
        margin-left: 6px;
        color: @dark-grey;
    }

    .icon-copy:hover {
        transition: 0.3s ease-in-out;
    }

    .btn span {
        font-size: 14px;
    }

    .btn:focus,
    .btn:active {
        box-shadow: none !important;
        outline: none !important;
    }
}
