@import "~Root/styles/colors";
@import "~Root/styles/vars";

.popover-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    right: 210px;
    transform: translate(0, 10px);
    width: auto;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    border-radius: 5px;
    padding: 10px 16px;
}

.popover-arrow {
    position: absolute;
    top: -8px;
    right: calc(50% - 10px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    width: 0;
    height: 0;
    -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.09));
}

.popover-wrapper:hover .popover-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

:local(.list) {
    padding-left: 0;

    li {
        list-style: none;
        display: flex;
    }

    li a {
        text-decoration: none !important;
        font-size: 14px !important;
        padding-top: 12px;
        padding-bottom: 12px;
        display: block;
    }

    li :local(.soon),
    li :local(.soon):hover {
        color: @steel;
    }

    li :local(.link),
    li :local(.link):hover {
        color: @black;
    }

    img {
        margin-right: 9px;
    }

    :local(.soon),
    :local(.beta) {
        font-size: 11px;
    }
}
