@import "~Root/styles/colors";

:local(.nav) {
    ul.navbar-nav > li > a,
    .popover-title {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    ul.navbar-nav > li:last-child > a {
        display: inline-flex;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        border-radius: 4px;
        height: 32px;
        width: 104px;
    }
}

.light-header {
    ul.navbar-nav > li > a,
    .popover-title,
    .popover-title:hover {
        color: white;
    }

    ul.navbar-nav > li:last-child > a {
        background-color: white;
        color: @clear-blue;
    }
}

.dark-header {
    ul.navbar-nav > li > a,
    .popover-title,
    .popover-title:hover {
        color: @black;
    }

    ul.navbar-nav > li:last-child > a {
        background-color: @clear-blue;
        color: white;
    }
}

.popover-title {
    display: flex !important;
    align-items: center;

    span {
        color: @light-grey-blue !important;
    }
}

:local(.logout) {
    font-size: 20px;
    background: transparent;
    border: none;
    padding: 0;
    color: @dark-grey;
    margin-top: 2px;
}

:local(.address) {
    border-radius: 4px;
    border: 1px solid @dark-blue-grey;
    padding: 6px 8px;
    margin-bottom: 0;
    margin-right: 32px;
}

:local(.address) button {
    font-size: 14px;
    font-weight: 500;
    color: @secondary-black;
    margin-top: 3px;
}
