@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    padding: 26px 35px 29px 16px;
    border: 1px solid @light-grey-purple!important;
    border-radius: 8px !important;
}

:local(.title-box) {
    display: flex;
    align-items: center;
}

:local(.circle) {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: @salmon;
    padding-top: 9px;

    span {
        color: @clear-blue;
        font-size: 30px;
        margin-left: 12px;
        margin-top: 9px;
    }
}

:local(.title) {
    font-size: 18px;
    font-weight: bold;
    color: @clear-blue;
    margin-bottom: 0;
    margin-left: 20px;
}

:local(.text) {
    font-size: 14px;
    line-height: 1.71;
    color: @black;
    margin-bottom: 0;
    margin-top: 16px;
}
