@import "~Root/styles/colors";

:local(.card) {
    padding: 16px 16px 16px 13px;
    background: white;
}

:local(.count) {
    color: @black;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}
:local(.xtzSmall) {
    font-size: 12px;
    margin-bottom: 0;
}

:local(.text) {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 14px;
    color: @steel;

    span {
        margin-right: 9px;
    }
}
