:local(.loading) {
    position: sticky;
    //border: 4px solid;
    border-style: solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 0.7s linear infinite !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
