@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.box) {
    margin-top: 41px;
}

:local(.company) {
    :local(.comp-col) {
        padding: 0 40px !important;

        img {
            margin: 0 auto;
            display: block;
        }
    }
}

:local(.title) {
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 138px;
}

:local(.hr) {
    border-top: 1.5px solid @light-grey-blue;
    width: 42px;
    margin: 25px auto 50px;
}

:local(.feature-box) {
    :local(.col):first-child .card {
        margin-right: 30px;
    }

    :local(.col):nth-child(2) .card {
        margin: 0 15px;
    }

    :local(.col):last-child .card {
        margin-left: 30px;
    }

    @media (max-width: @xl) {
        :local(.col):first-child .card {
            margin-right: 0;
        }

        :local(.col):nth-child(2) .card {
            margin: 0;
        }

        :local(.col):last-child .card {
            margin-left: 0;
        }
    }
    @media (max-width: @lg) {
        :local(.col) {
            margin-bottom: 15px;
        }
    }
}
