@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    border: 1px solid @so-light-grey;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
    padding: 50px 25px;
    text-align: center;
}

:local(.title) {
    font-size: 16px;
    font-weight: bold;
    color: @cherry;
    margin-bottom: 0;
    margin-top: 20px;
}

:local(.text) {
    font-size: 14px;
    color: @steel;
    margin-top: 8px;
    margin-bottom: 10px;
    white-space: nowrap;
}

:local(.btn) {
    font-size: 14px;
    font-weight: bold;
    width: 178px;
    height: 40px;
    display: block;
    margin: 40px auto 0 auto;
}
