@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    padding: 24px 18px 34px 18px;
    background: white;
    text-align: center;
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 200px;
}

:local(.title) {
    font-size: 16px;
    font-weight: bold;
    color: @black;
    margin-bottom: 0;
}

:local(.text) {
    font-size: 14px;
    color: @steel;
    margin-top: 4px;
    margin-bottom: 0;
}

:local(.btn) {
    height: 48px;
    width: 100%;
    font-weight: bold;
}

:local(.form) {
    margin-top: 29px;

    .form-group {
        margin-bottom: 32px;
    }

    input {
        height: 48px;
        font-size: 14px;
    }
    input::placeholder {
        font-size: 14px;
    }
}
:local(.error_input) {
    border-color: red;
}
