@import "~Root/styles/colors";
@import "~Root/styles/vars";

:local(.card) {
    height: 100%;
    border: 1.1px solid @light-grey !important;
    border-radius: 4px;
    padding: 24px 16px;
    background: white;
    @media (max-width: @sm) {
        padding: 25px;
    }

    .basic-single {
        width: 100%;
        height: 37px;
    }
}

:local(.form) {
    font-size: 14px !important;
    color: @black;
    border-radius: 5px;
    border: solid 1px @light-grey !important;
    background-color: white !important;
    height: 38px !important;
    vertical-align: middle;
    line-height: 38px;
}

:local(.form):focus {
    box-shadow: 0 0 0 0 !important;
    transition: 0.3s ease-in-out;
    border: 1px solid @clear-blue !important;
}

:local(.form)::placeholder {
    font-size: 14px;
    color: @light-grey-blue !important;
}

:local(.select) {
    .react-select__control {
        background-color: white;
        border: 1px solid @light-grey;
        border-radius: 5px;
        box-shadow: none !important;
        cursor: pointer;
    }

    .react-select__control:hover {
        border: 1px solid @light-grey;
    }

    .react-select__indicator-separator {
        display: none;
    }

    .react-select__placeholder {
        font-size: 16px;
    }

    .react-select__single-value {
        color: @black;
    }

    .react-select__value-container {
        padding-left: 10px;
    }

    .react-select__indicator {
        padding-right: 19px;
        padding-left: 0;
    }

    .react-select__indicator svg {
        color: @clear-blue;
        height: 15px;
        width: 15px;
    }

    .react-select__option input {
        font-size: 16px;
        color: @black;
    }

    .react-select__option {
        cursor: pointer;
    }

    .react-select__option:hover,
    .react-select__option--is-focused {
        background-color: transparent;
    }

    .react-select__option--is-selected {
        background-color: @clear-blue !important;
    }

    .react-select__menu {
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }

    .react-select__menu-notice--no-options {
        font-size: 10px;
        color: @black;
    }

    .react-select__placeholder {
        color: @light-grey-blue;
    }

    .react-select__menu {
        box-shadow: 0 0 0 0;
        border: 1px solid @light-grey;
    }
}

:local(.btn) {
    width: 96px;
    height: 37px;
    border-radius: 5px;
    font-weight: 500;

    @media (max-width: @x-xl) {
        width: 90px;
    }

    @media (max-width: @md) {
        width: 100%;
    }
}
